---
layout: default
---

<div class="home">

  <ul class="post__list">
    {% for post in site.posts %}
      <li>

        <span class="post__meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.content }}



          <ul class="post__tags">
            {% for tags in post.tags %}
            <li><a class="topic-tags" href="/tags#{{ tag }}">{{ tags | upcase }} </a>{% if forloop.last == false %},{% endif %}</li>
            {% endfor %}
          </ul>
      </li>
    {% endfor %}
  </ul>

</div>
