<footer class="site-footer">

  <div class="wrapper">
      <div class="footer-col-12 spacing">
        <p class="copyright">{{ site.description }}</p>

    </div>
    <div class="row">
      <div class="footer-col-6 social-media-list">
        <a href="{{ site.twitter }}"><img src="images/twitter.svg" alt="twitter" /></a>
        <a href="{{ site.facebook }}"><img src="images/facebook.svg" alt="facebook" /></a>
      </div>
    </div>
    <div class="footer-col-12 url-mainpage">
      <a href="http://nocweb.se">www.nocweb.se</a>
    </div>

  </div>

</footer>
