body{
  color:#333;
  background-color: white;
}

/**
 * Site header
 */

.site-header {

    min-height: 56px;
    background: url('../images/landscape.jpg');
    background-size: cover;
    background-position: 60% 70%;
    // Positioning context for the mobile navigation icon
    position: relative;
    margin-bottom:$spacing-unit;

    .logo{
      position: relative;
      bottom: 0;
      padding-top: 90px;
      text-align: center;
      width: auto;
      padding-bottom:90px;
    }

    .nocLogo{
      display: block;
      margin: 0 auto;
    }

    .topic-nav{
      list-style: none;
      text-decoration: none;
      text-align: center;
      margin-bottom: $spacing-unit*1.5;
      margin-left:-6px;

      li{
        display: inline-block;
        margin-left: 10px;
        margin-right:10px;
      }

      a:hover, li:hover{
        color: $secondary-color;
        cursor: pointer;
      }

      a{
        text-decoration: none;
        color: white;
      }


    }

}

.site-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-family: $heading-font-fam;
    color: $heading-color;

}

/**
 * Site footer
 */

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    padding-top: $spacing-unit * 1.5;
    padding-bottom: $spacing-unit * 2;
    background: #282b2d;
}



.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
    color: $grey-color;
}

.contact-list,
.row .social-media-list {
    text-align: center;
    display: block;
    margin: 0 auto;
    float:none;
    clear:both;
}

.social-media-list img{
  margin-left: 5px;
}

.row{
  width: 100%;
  float: left;
}

.footer-col-12{
  width: 100%;
  float: left;
}

.footer-col-6{
  width: 50%;
  float: left;
}

.copyright{
  position: static;
  left: 1px;
  margin-bottom: 15px;
  color: hsla(219, 8%, 59%, .9);
  font-family: $base-font-family;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

.url-mainpage{
  text-align: center;
  margin-top: 15px;

  a{
    font-weight: 300;
  }
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0px $spacing-unit*3 0px;
}

.page-heading {
    font-size: 20px;
}


/**
 * Posts
 */

.post{

 &__list {
     margin-left: 0;
     list-style: none;

     > li {
         margin-bottom: $spacing-unit*5;
     }

     .topic-tags{
       font-size:12px;
     }
 }

  &__meta {
     font-size: $small-font-size;
     color: $grey-color;
 }

  &__link, &__link:visited {
     display: block;
     font-size: 42px;
     font-family: $heading-font-fam;
     font-weight: 400;
     color: $heading-color;
     letter-spacing: -0.2px;
     line-height: 1.1;
 }

 &__link:hover{
   color:$secondary-color;
   text-decoration: none;
 }


  &__header {
    margin-bottom: $spacing-unit;

}


  &__title {
    font-family: $heading-font-fam;
    font-size: 42px;
    font-weight:400;
    letter-spacing: -0.2px;
    line-height: 1.1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
  }

  &__author{
    color:#C0C3C4;
    margin-top:$spacing-unit/2;
    font-weight:500;
    font-family: $heading-font-fam;
    font-size: 16px;
    margin-bottom:15px;
  }

  &__content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    .tags-h2{
      padding-top: 30px;
      font-family: $heading-font-fam;
      font-size:26px;
      font-weight: 300;
    }

    .tags-a{
      margin-right: 15px;
    }

    .tag-container{
      margin-left: 15px;
    }

    .tag-list{
      font-family: $heading-font-fam;
      font-weight:300;
      padding-top: 45px;
      list-style: none;
      display: inline-block;
      margin-left: 0px;

      li{
        padding-left: 5px;
      }

      h1{
        font-weight: 600;
      }
    }

    .tag-list:first-of-type{
      padding-top:0px;
    }

    .tag-posts{
      margin-bottom:3px;
      font-size: 20px;
      width: 100%;

      span{
        color: #C0C3C4;
        font-size: 16px;
        margin-left: 5px;
      }
    }

    .tags-content{

    }

  }

  &__taglist{
  list-style: none;

  li{
    margin-top: $spacing-unit*1.5;
  }

  h2{
  border-bottom: 1px solid lightgray;
  }

  }

  &__tags{
    list-style: none;
    margin: 0;
    display: inline-block;

    li{
    float: left;
    margin-right: 15px;
    }
  }

  &__showtags{
    margin-bottom: $spacing-unit*2;
  }

}
